auraloss
black
click
effortless_config
einops
fire
git+https://github.com/NVIDIA/apex
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
git+https://github.com/caillonantoine/UDLS.git#egg=udls
gputil
librosa
matplotlib
numba
numpy==1.20.1
pandas
pytest
pytorch_lightning
resampy
scikit_learn
scipy
seaborn
soundfile
tensorboard
tensorboardX
termcolor
torch
torchaudio
torchcrepe
torchvision
tqdm
unidecode
wandb
youtube-dl